<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date{HH:mm:ss.SSS} [%thread] %logger{0} [%-5level] %msg%n</Pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/logs/assembler.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %logger{0} [%-5level] %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="ch.qos" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>
